{% extends 'SurveyBundle::base.html.twig' %}
{% block head_css %}
	{% stylesheets
	'@SurveyBundle/Resources/css/welcomePage.less'
	%}
	<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
	{% endstylesheets %}
{% endblock %}
{% block body_jumbotron %}
	<h1 class="title">
		The way to
		<span>make quick and accurate decisions</span>
	</h1>
	<p>
		Don't waste your time and
	</p>
	<p>
		<a class="btn btn-primary btn-large" href="register">Join Q&A Survey</a>
	</p>
{% endblock %}
{% block body_rest %}
	<div class="row">
		<div class="col-md-4">
			<h2>
				Quick
			</h2>
			<p>
				Don't want to wait long time for survey results? Feel a pressure of supervisors? Not anymore! Q&A Survey is faster than any survey before. Just create question a send a link. Then just grab a coffee and watch how your charts are changing.
			</p>
		</div>
		<div class="col-md-4">
			<h2>
				Accurate
			</h2>
			<p>
				Creating surveys with Q&A Survey gives you perfect results for specific group of people. Choose a group of people you want to research and browse your results in one place and all on the clear charts.
			</p>
		</div>
		<div class="col-md-4">
			<h2>
				Easy
			</h2>
			<p>
				Q&A Survey serve you an ideal place for your surveys and data. Here you can see all your surveys, results, participants and even more! All you need is just create a question and publish it! It's really simple!
			</p>
		</div>
	</div>
{% endblock %}